*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Ubuntu";
}

body.overflow-hidden {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

button {
  font-family: "Ubuntu";
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 30px;
  }
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 922px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 666px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 400px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 30px;
  margin: 0;
  color: #000;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0E2E5C;
  padding: 15px 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header .header__burger {
  display: none;
}

@media screen and (max-width: 600px) {
  .header .header__burger {
    display: block;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 120;
  }
}

@media screen and (max-width: 600px) {
  .header .header__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 600px) {
  .header .header__burger:before, .header .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 600px) {
  .header .header__burger:before {
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .header .header__burger:after {
    bottom: 0;
  }
}

.header .header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header .header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header .header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .nav.active {
  top: 0;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 1100px) {
  .header .nav {
    padding-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0E2E5C;
    padding: 60px 40px 60px 40px;
  }
}

.header .nav__item {
  color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .header .nav__item {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .header .nav__item {
    margin-bottom: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .header .nav__item {
    font-size: 20px;
  }
}

.header .nav__item:not(:last-child) {
  margin-right: 32px;
}

.header .nav__item:hover::before {
  width: 100%;
  opacity: 1;
}

.header .nav__item::before {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .info img {
    width: 462px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 980px) {
  .info img {
    width: 400px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .info img {
    width: 333px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.info--reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .info--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .info--reverse img {
    width: 462px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 980px) {
  .info--reverse img {
    width: 400px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .info--reverse img {
    width: 333px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 415px;
}

@media screen and (max-width: 500px) {
  .info__content {
    max-width: 350px;
  }
}

.info__content h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .info__content h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.info__content p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .info__content p {
    font-size: 14px;
  }
}

.education__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 298px;
  position: relative;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .education__item {
    max-width: 265px;
  }
}

.education__item img {
  margin-bottom: 12px;
}

.education__item .item__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .education__item .item__title {
    margin: 0 10px 10px 10px;
  }
}

.education__item .item__subtitle {
  margin-bottom: 5px;
  max-width: 150px;
}

.education__item .item__score {
  font-weight: 700;
  font-size: 24px;
}

.education__item .item__button {
  position: absolute;
  bottom: -12px;
  left: 50%;
  will-change: transform;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 20px;
  outline: none;
  border: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#D63C3C), to(#F3B807));
  background: linear-gradient(90deg, #D63C3C, #F3B807);
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 600px) {
  .education__item .item__button {
    width: 150px;
  }
}

.education__item .item__button:hover {
  -webkit-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}

.education__item:before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: -webkit-gradient(linear, left top, right top, from(#D63C3C), to(#F3B807));
  background: linear-gradient(90deg, #D63C3C, #F3B807);
  z-index: -1;
}

.section--intro {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/img/intro/intro.jpg");
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.section--intro .photo .man {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
}

@media screen and (min-width: 1600px) {
  .section--intro .photo .man {
    right: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .section--intro .photo .man {
    right: -100px;
  }
}

@media screen and (max-width: 980px) {
  .section--intro .photo .man {
    display: none;
  }
}

.section--intro .photo .circle {
  content: '';
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: #EB9104;
  position: absolute;
  z-index: 5;
  bottom: -70px;
  right: 450px;
  overflow: hidden;
}

@media screen and (min-width: 1600px) {
  .section--intro .photo .circle {
    right: 730px;
    bottom: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .section--intro .photo .circle {
    right: 350px;
  }
}

@media screen and (max-width: 980px) {
  .section--intro .photo .circle {
    right: -20px;
    bottom: -80px;
  }
}

@media screen and (max-width: 600px) {
  .section--intro .photo .circle {
    left: -80px;
    bottom: 100px;
    z-index: 0;
  }
}

.section--intro .photo .circle__small {
  content: '';
  width: 185px;
  height: 185px;
  border-radius: 50%;
  background-color: #D63C3C;
  position: absolute;
  z-index: 3;
  bottom: 120px;
  right: 490px;
}

@media screen and (min-width: 1600px) {
  .section--intro .photo .circle__small {
    right: 650px;
    bottom: 170px;
  }
}

@media screen and (max-width: 1024px) {
  .section--intro .photo .circle__small {
    right: 390px;
  }
}

@media screen and (max-width: 980px) {
  .section--intro .photo .circle__small {
    right: -40px;
    bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  .section--intro .photo .circle__small {
    right: -20px;
    top: 100px;
    z-index: 0;
  }
}

.section--intro .photo .circle__middle {
  content: '';
  width: 950px;
  height: 950px;
  border-radius: 50%;
  background-color: #F3B807;
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: -20px;
}

@media screen and (min-width: 1600px) {
  .section--intro .photo .circle__middle {
    left: 15%;
    bottom: 5%;
  }
}

@media screen and (max-width: 980px) {
  .section--intro .photo .circle__middle {
    top: -100px;
    left: -50px;
    width: 798px;
    height: 798px;
  }
}

@media screen and (max-width: 600px) {
  .section--intro .photo .circle__middle {
    width: 580px;
    height: 580px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.section--intro .container {
  position: relative;
  height: 90%;
}

.section--intro .container .intro__content {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 20;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

@media screen and (min-width: 1600px) {
  .section--intro .container .intro__content {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@media screen and (max-width: 1100px) {
  .section--intro .container .intro__content {
    padding-left: 40px;
  }
}

@media screen and (max-width: 980px) {
  .section--intro .container .intro__content {
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .section--intro .container .intro__content {
    top: 60%;
    left: 10%;
  }
}

.section--intro .container .intro__content .intro__profession {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #fff;
  padding: 8px 17px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1600px) {
  .section--intro .container .intro__content .intro__profession {
    font-size: 18px;
  }
}

.section--intro .container .intro__content .intro__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 24px;
}

@media screen and (min-width: 1600px) {
  .section--intro .container .intro__content .intro__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 600px) {
  .section--intro .container .intro__content .intro__title {
    font-size: 34px;
    margin-bottom: 12px;
  }
}

.section--intro .container .intro__content .intro__title span {
  color: #fff;
}

.section--intro .container .intro__content .intro__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

@media screen and (min-width: 1600px) {
  .section--intro .container .intro__content .intro__subtitle {
    font-size: 24px;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .about__content {
    padding: 0 30px;
  }
}

.about__content .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 360px;
  margin-right: 100px;
}

@media screen and (max-width: 1024px) {
  .about__content .about__info {
    margin-right: 50px;
  }
}

@media screen and (max-width: 980px) {
  .about__content .about__info {
    margin-right: 20px;
    max-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .about__content .about__info {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.about__content .about__info h1 {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .about__content .about__info h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.about__content .about__info p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .about__content .about__info p {
    font-size: 14px;
  }
}

.about__content .about__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 100%;
          flex: 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 980px) {
  .about__content .about__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
}

.about__content .about__aside .aside__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 60px 70px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .about__content .about__aside .aside__items {
    grid-gap: 30px 35px;
  }
}

@media screen and (max-width: 980px) {
  .about__content .about__aside .aside__items {
    grid-gap: 0px 9px;
  }
}

@media screen and (max-width: 768px) {
  .about__content .about__aside .aside__items {
    grid-gap: 10px 10px;
  }
}

@media screen and (max-width: 500px) {
  .about__content .about__aside .aside__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .about__content .about__aside .aside__items .aside__item {
    max-width: 200px;
  }
}

.about__content .about__aside .aside__items .aside__item span i {
  color: #D63C3C;
  font-size: 30px;
  margin-bottom: 10px;
}

.about__content .about__aside .aside__items .aside__item p {
  width: 250px;
}

@media screen and (max-width: 980px) {
  .about__content .about__aside .aside__items .aside__item p {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .about__content .about__aside .aside__items .aside__item p {
    width: 250px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .about__content .about__aside .aside__items .aside__item p {
    max-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .salary__title {
    font-size: 22px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .salary__title {
    padding: 0 30px 10px;
  }
}

.salary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .salary {
    padding: 0 20px;
  }
}

@media screen and (max-width: 980px) {
  .salary img {
    width: 750px;
    height: 403px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .salary img {
    width: 570px;
    height: 380px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .salary img {
    display: none;
  }
}

.salary__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 600px) {
  .salary__mobile {
    display: none;
  }
}

.salary__mobile .salary__mobile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.salary__mobile .salary__mobile-content .salary__regions li {
  font-size: 18px;
  font-weight: 400;
}

.salary__mobile .salary__mobile-content .salary__money li {
  font-size: 18px;
  font-weight: 400;
}

.education__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .education__info {
    padding: 0 30px;
  }
}

.education__info h1 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .education__info h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.education__info p {
  max-width: 516px;
}

@media screen and (max-width: 768px) {
  .education__info p {
    font-size: 14px;
  }
}

.education__info p span {
  font-weight: 700;
}

.education__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 40px 60px;
  width: 100%;
}

@media screen and (max-width: 980px) {
  .education__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .education__items {
    grid-gap: 30px 20px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .education__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
    grid-gap: 30px 0;
    width: 50%;
  }
}

.section--reviews h1 {
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .section--reviews h1 {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .section--reviews h1 {
    padding: 0 30px;
  }
}

.section--reviews .reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--reviews .reviews__content .inner {
  max-width: 865px;
}

@media screen and (max-width: 980px) {
  .section--reviews .reviews__content .inner {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .inner {
    max-width: 570px;
  }
}

@media screen and (max-width: 600px) {
  .section--reviews .reviews__content .inner {
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .section--reviews .reviews__content .inner {
    max-width: 234px;
  }
}

.section--reviews .reviews__content .inner .circle__small {
  content: '';
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #EB9104;
  position: absolute;
  z-index: -1;
  left: 365px;
  bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .section--reviews .reviews__content .inner .circle__small {
    left: 300px;
  }
}

@media screen and (max-width: 980px) {
  .section--reviews .reviews__content .inner .circle__small {
    left: 270px;
  }
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .inner .circle__small {
    left: 330px;
    bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .section--reviews .reviews__content .inner .circle__small {
    left: 240px;
  }
}

@media screen and (max-width: 500px) {
  .section--reviews .reviews__content .inner .circle__small {
    width: 0;
    height: 0;
  }
}

.section--reviews .reviews__content .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-top: 20px;
}

.section--reviews .reviews__content .arrows .slider__arrow {
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  color: #EB9104;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section--reviews .reviews__content .arrows .slider__arrow:hover {
  color: #D63C3C;
}

.section--reviews .reviews__content .arrows .slider__arrow--prev {
  margin-right: 10px;
}

.section--reviews .reviews__content .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.section--reviews .reviews__content .reviews:after {
  content: '';
  width: 167px;
  height: 167px;
  border-radius: 50%;
  background-color: #F3B807;
  position: absolute;
  z-index: -1;
  top: -30px;
  right: -70px;
}

@media screen and (max-width: 600px) {
  .section--reviews .reviews__content .reviews:after {
    right: -50px;
    top: -40px;
  }
}

.section--reviews .reviews__content .reviews:before {
  content: '';
  width: 183px;
  height: 183px;
  border-radius: 50%;
  background-color: #D63C3C;
  position: absolute;
  z-index: -3;
  left: 130px;
  bottom: -80px;
}

@media screen and (max-width: 600px) {
  .section--reviews .reviews__content .reviews:before {
    left: 50px;
  }
}

@media screen and (max-width: 500px) {
  .section--reviews .reviews__content .reviews:before {
    bottom: 150px;
    left: -60px;
  }
}

.section--reviews .reviews__content .reviews .review {
  background-color: #F5F3F4;
  padding: 28px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .reviews .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .reviews .review {
    position: relative;
  }
}

.section--reviews .reviews__content .reviews .review img {
  margin-right: 20px;
}

@media screen and (max-width: 980px) {
  .section--reviews .reviews__content .reviews .review img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .reviews .review img {
    margin: 0 auto 20px auto;
  }
}

.section--reviews .reviews__content .reviews .review .review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section--reviews .reviews__content .reviews .review .review__content .review__author {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (max-width: 980px) {
  .section--reviews .reviews__content .reviews .review .review__content .review__author {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .reviews .review .review__content .review__author {
    font-size: 18px;
  }
}

.section--reviews .reviews__content .reviews .review .review__content .review__text {
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 980px) {
  .section--reviews .reviews__content .reviews .review .review__content .review__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .reviews .review .review__content .review__text {
    font-size: 14px;
  }
}

.section--reviews .reviews__content .reviews .review i {
  font-size: 50px;
  opacity: 0.65;
}

@media screen and (max-width: 768px) {
  .section--reviews .reviews__content .reviews .review i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .section--reviews .reviews__content .reviews .review i {
    top: 20px;
    right: 20px;
    font-size: 30px;
  }
}

.section--faq {
  padding: 70px 0 30px 0;
}

@media screen and (max-width: 768px) {
  .section--faq {
    padding: 40px 0 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .section--faq {
    padding: 40px 20px 10px 20px;
  }
}

@media screen and (max-width: 600px) {
  .section--faq h1 {
    font-size: 22px;
  }
}

.section--faq .faq:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section--faq .faq:not(:last-child) {
    margin-bottom: 15px;
  }
}

.section--faq .question {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .section--faq .question {
    font-size: 18px;
  }
}

.section--faq .answer {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .section--faq .answer {
    font-size: 14px;
  }
}

.footer {
  padding: 10px 0;
  background-color: #0E2E5C;
}

.footer .allright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer .allright {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .footer .allright {
    font-size: 10px;
  }
}
