.info
    display: flex
    flex-direction: row
    justify-content: space-between

    @media screen and (max-width: $breakpoint--sm)
        flex-direction: column
        justify-content: center
        align-items: center

    img
        @media screen and (max-width: $breakpoint--xl)
            width: 462px
            height: 300px
            object-fit: contain

        @media screen and (max-width: $breakpoint--lg)
            width: 400px
            height: 260px
            object-fit: contain

        @media screen and (max-width: $breakpoint--md)
                width: 333px
                height: 260px
                object-fit: contain

    &--reverse
        display: flex
        flex-direction: row-reverse

        @media screen and (max-width: $breakpoint--sm)
            flex-direction: column
            justify-content: center
            align-items: center

        img
            @media screen and (max-width: $breakpoint--xl)
                width: 462px
                height: 300px
                object-fit: contain

            @media screen and (max-width: $breakpoint--lg)
                width: 400px
                height: 260px
                object-fit: contain

            @media screen and (max-width: $breakpoint--md)
                width: 333px
                height: 260px
                object-fit: contain

    &__content
        display: flex
        flex-direction: column
        justify-content: center
        max-width: 415px

        @media screen and (max-width: $breakpoint--in)
            max-width: 350px

        h1
            font-size: 30px
            font-weight: 700

            margin-bottom: 20px

            @media screen and (max-width: $breakpoint--md)
                font-size: 20px

                margin-bottom: 10px

        p
            font-size: 18px

            @media screen and (max-width: $breakpoint--md)
                font-size: 14px