.section--faq
    padding: 70px 0 30px 0
    .faq:not(:last-child)
        margin-bottom: 30px

        .question
            font-size: 24px
            font-weight: 600

            margin-bottom: 5px

        .answer
            font-size: 
            font-weight: 400