h1
    margin-bottom: 35px

.reviews__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .inner
        max-width: 865px

        .circle__small
            content: ''

            width: 65px
            height: 65px

            border-radius: 50%

            background-color: $color--orange

            position: absolute

            z-index: -1

            left: 365px
            bottom: 30px

    .arrows
        display: flex
        justify-content: flex-end

        margin-left: auto

        margin-top: 20px

        .slider__arrow
            font-size: 40px
            font-weight: 700

            cursor: pointer

            color: $color--orange

            transition: all .3s

            &:hover
                color: $color--red

            &--prev
                margin-right: 10px

    .reviews
        display: flex
        flex-direction: row

        position: relative 

        &:after
            content: ''

            width: 167px
            height: 167px

            border-radius: 50%

            background-color: $color--yellow

            position: absolute

            z-index: -1

            top: -30px
            right: -70px

        &:before
            content: ''

            width: 183px
            height: 183px

            border-radius: 50%

            background-color: $color--red

            position: absolute

            z-index: -3

            left: 130px
            bottom: -80px

        .review
            background-color: $color--light

            padding: 28px 30px

            display: flex
            flex-direction: row

            img
                margin-right: 20px

            .review__content
                display: flex
                flex-direction: column
                justify-content: center
                
                .review__author
                    font-size: 30px
                    font-weight: 700

                    margin-bottom: 10px

                .review__text
                    font-size: 18px
                    font-weight: 300

            i
                font-size: 50px

                opacity: 0.65
