h1
    margin-bottom: 35px

    @media screen and (max-width: $breakpoint--md)
        margin-bottom: 10px

        font-size: 22px

.reviews__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .inner
        max-width: 865px

        @media screen and (max-width: $breakpoint--lg)
            max-width: 700px

        @media screen and (max-width: $breakpoint--md)
            max-width: 570px

        .circle__small
            content: ''

            width: 65px
            height: 65px

            border-radius: 50%

            background-color: $color--orange

            position: absolute

            z-index: -1

            left: 365px
            bottom: 30px

            @media screen and (max-width: $breakpoint--xl)
                left: 300px

            @media screen and (max-width: $breakpoint--lg)
                left: 270px

            @media screen and (max-width: $breakpoint--md)
                left: 330px
                bottom: 40px

    .arrows
        display: flex
        justify-content: flex-end

        margin-left: auto

        margin-top: 20px

        .slider__arrow
            font-size: 40px
            font-weight: 700

            cursor: pointer

            color: $color--orange

            transition: all .3s

            &:hover
                color: $color--red

            &--prev
                margin-right: 10px

    .reviews
        display: flex
        flex-direction: row

        position: relative 

        &:after
            content: ''

            width: 167px
            height: 167px

            border-radius: 50%

            background-color: $color--yellow

            position: absolute

            z-index: -1

            top: -30px
            right: -70px

        &:before
            content: ''

            width: 183px
            height: 183px

            border-radius: 50%

            background-color: $color--red

            position: absolute

            z-index: -3

            left: 130px
            bottom: -80px

        .review
            background-color: $color--light

            padding: 28px 30px

            display: flex
            flex-direction: row

            @media screen and (max-width: $breakpoint--md)
                flex-direction: column

            @media screen and (max-width: $breakpoint--md)
                position: relative

            img
                margin-right: 20px

                @media screen and (max-width: $breakpoint--lg)
                    width: 160px
                    height: 160px

                @media screen and (max-width: $breakpoint--md)
                    margin: 0 auto 20px auto

            .review__content
                display: flex
                flex-direction: column
                justify-content: center
                
                .review__author
                    font-size: 30px
                    font-weight: 700

                    margin-bottom: 10px

                    @media screen and (max-width: $breakpoint--lg)
                        font-size: 25px

                    @media screen and (max-width: $breakpoint--md)
                        font-size: 18px

                .review__text
                    font-size: 18px
                    font-weight: 300

                    @media screen and (max-width: $breakpoint--lg)
                        font-size: 18px

                    @media screen and (max-width: $breakpoint--md)
                        font-size: 14px

            i
                font-size: 50px

                opacity: 0.65

                @media screen and (max-width: $breakpoint--md)
                    position: absolute

                    top: 30px
                    right: 30px

                    font-size: 40px
