.salary__title
    @media screen and (max-width: $breakpoint--md)
        font-size: 22px

        margin-bottom: 0px

    @media screen and (max-width: $breakpoint--sm)
        padding: 0 30px

.salary
    display: flex
    justify-content: center
    align-items: center

    @media screen and (max-width: $breakpoint--sm)
        padding: 0 20px

    img
        @media screen and (max-width: $breakpoint--lg)
            width: 750px
            height: 403px
            object-fit: contain

            margin: 0 auto

        @media screen and (max-width: $breakpoint--md)
            width: 570px
            height: 380px
            object-fit: contain

            margin: 0 auto

        @media screen and (max-width: $breakpoint--sm)
            overflow: auto